@use "../../../styles/abstracts/variables.scss" as *;

.hero {
  background-color: $color-background;
  padding: 4rem 2rem;
  text-align: center;
  height: 100vh;

  .hero-content {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      color: $color-text;
      font-size: 3rem;
      font-weight: bold;

      .highlight {
        color: $color-highlight;
      }
    }

    p {
      color: $color-text;
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    button {
      margin-top: 2rem;
      background-color: $color-primary;
      color: $color-text;
      border: none;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-hover;
      }
    }
  }
}
